<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
<head>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TWProjects</title>
</head>
<body>
  <nav class="container-fluid">
    <ul>
      <li><strong>TWProjects</strong></li>
    </ul>
    <ul>
      <li>
        <a href="#">Clientes</a>
      </li>
    </ul>
  </nav>

  <main class="container">
    <h1>Boas Vindas</h1>
    <p>Este é um projeto de exemplo para o curso de Spring Boot da Treina Web</p>
  </main>
</body>
</html>